@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* font-family: "Merriweather", serif;
font-family: 'Inter', sans-serif; */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* reusable codes */

.container {
  width: 80%;
  max-width: 1320px;
  margin: 0 auto;
}
.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* header */

.header {
  margin-top: 50px;
}
.banner {
  border-radius: 16px;
  background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url("../images/Banner Image.png");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  min-height: 600px;
  font-family: "Merriweather", serif;
  color: #fff;
  position: relative;
}
.banner_content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.banner_content p {
  font-size: 32px;
  font-weight: 400;
}
.banner_content h2 {
  font-size: 72px;
  font-weight: 900;
  line-height: 95px;
}

/* discount */

.discount {
  margin: 120px 0;
  font-family: "Inter", sans-serif;
  text-align: center;
}
.discount_sec h2 {
  color: #f00;
  font-size: 88px;
  font-weight: 700;
}
.discount_sec p {
  color: #f00;
  font-size: 24px;
  font-weight: 500;
  margin: 40px 0 15px;
}
.discount_sec h3 {
  color: #070211;
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 40px;
}

/* welcome section */

.welcome {
  margin-top: 120px;
}
.welcome_banner {
  background-image: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url("../images/Vectorrr.png");
  border-radius: 16px;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 600px;
}
.welcome_content {
  padding: 68px 130px;
  border-radius: 16px;
}
.column_left h2 {
  color: #fff;
  font-family: Merriweather;
  font-size: 64px;
  font-weight: 900;
  line-height: 88px;
  letter-spacing: 7.04px;
}
.column_left p {
  color: rgba(255, 255, 255, 0.8);
  font-family: Inter;
  font-size: 18px;
  margin: 24px 0 40px;
}
.join {
  color: #fff;
  font-family: Inter;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  background: transparent;
  margin-left: 32px;
  cursor: pointer;
}

/* vanue */

.vanue {
  margin-top: 120px;
}
.vanue_details {
  padding: 100px 385px;
  text-align: center;
  background: linear-gradient(
    180deg,
    rgba(255, 0, 0, 0.1) 0%,
    rgba(255, 0, 0, 0) 100%
  );
  border-radius: 16px;
  font-family: Inter;
}
.vanue_details p {
  color: #070211;
  font-size: 32px;
  font-weight: 600;
  line-height: 56px;
}
.red1 {
  color: #f00;
}
.custom_btn {
  margin-top: 48px;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 16px 32px;
  border: none;
  border-radius: 8px;
  background-color: #f00;
}

/* best_offer */

.best_offer {
  margin-top: 120px;
}
.offer_prc {
  color: #f00;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
}
.column1,
.column2,
.column3 {
  width: 33.33%;
}
.column1 h4,
.gift_head h4,
.newsletter_content h4 {
  color: #070211;
  font-family: Merriweather;
  font-size: 48px;
  font-weight: 900;
  margin: 10px 0 20px;
}
.common_p {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
}
.col3_p {
  margin-top: 16px;
}
.column2 {
  text-align: center;
}
.column2 img {
  width: 340px;
  height: 340px;
  border-radius: 340px;
  border: 15px solid #f00;
  padding: 25px;
}
.column3 {
  max-width: 280px;
}
.column3 h3 {
  color: #f00;
  font-family: Inter;
  font-size: 48px;
  font-weight: 700;
}
.column3 img {
  margin-top: 30px;
}

/* holiday sale */
.hoilday_sale {
  margin-top: 120px;
}
.holiday_title {
  text-align: center;
}
.holiday_title p {
  color: #070211;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
}
.holiday_title h4 {
  color: #070211;
  font-family: Merriweather;
  font-size: 72px;
  font-weight: 900;
  margin: 16px 0 28px;
}
.holiday_title span {
  color: #f00;
}
.holiday_title h6 {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-weight: 500;
}
.holiday_banner {
  margin-top: 60px;
  padding-top: 120px;
}
.img_boxs {
  position: relative;
}
.img1 {
  position: absolute;
  bottom: 0;
}
.img3 {
  position: absolute;
  right: 0;
  bottom: 40.5%;
  z-index: -1;
}
.disco {
  position: relative;
  right: -56%;
  top: -15%;
}

/* best gifts */

.best_gifts {
  margin-top: 120px;
}
.gift_p {
  margin-bottom: 50px;
}
.gap {
  margin-top: 24px;
}
.col img {
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
}
.col img:hover {
  filter: grayscale(0%);
  filter: gray;
  -webkit-filter: grayscale(0%);
  filter: none;
  transition: 1s ease;
}

/* newsletter */

.newsletter {
  margin-top: 120px;
}
.newsletter_content {
  border-radius: 16px;
  background: rgba(255, 0, 0, 0.05);
  text-align: center;
  padding: 80px 200px;
}
.subscribe {
  margin-top: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.subscribe input {
  padding: 25px 0 25px 30px;
  border-bottom-left-radius: 50px;
  border-top-left-radius: 50px;
  border: none;
  width: 40%;
  font-size: 20px;
}
.subscribe input:focus {
  outline: none;
}
.subscribe a {
  padding: 25px 56px;
  border-radius: 0px 40px 40px 0px;
  background: #f00;
  color: #fff;
  font-family: Inter;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
}
/* footer */
.footer {
  background-color: #070211;
  margin-top: 120px;
  padding: 120px 140px;
}
.footer_left p,
.footer_right span,
.footer_right_txt {
  color: #fff;
  font-family: Inter;
  font-size: 22git px;
  font-weight: 500;
  line-height: 40px;
}
.footer_right img {
  width: 24px;
  height: 24px;
  margin-right: 16px;
}
.footer_right p {
  display: flex;
  align-items: center;
}
hr {
  color: rgba(255, 255, 255, 0.15);
  margin: 50px 0;
}
.social {
  text-align: center;
}
.social a {
  margin-right: 24px;
}
